
<div class="card mt-4">
  <h4 class="card-header">Users table</h4>
  <div class="card-body">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
            The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> username </th>
        <td mat-cell *matCellDef="let element"> {{element.username}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="role">
          <th mat-header-cell *matHeaderCellDef> role </th>
          <td mat-cell *matCellDef="let element"> {{element.role}} </td>
          </ng-container>

              <!-- Name Column -->
      <ng-container matColumnDef="button">
        <th mat-header-cell *matHeaderCellDef> button </th>
        <td mat-cell *matCellDef="let element">
          <!-- <button></button> -->
          <!-- <button mat-flat-button>Details</button> -->
            <app-user-info-button [userInButton]="element" (click)="detailsMap.set(element.id, !detailsMap.get(element.id))">  </app-user-info-button>
        </td>
        </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>

      <div *ngFor="let u of ELEMENT_DATA">
        <app-user-info-card *ngIf="detailsMap.get(u.id)" [userIn]="u">  </app-user-info-card>
      </div>
  
</div>
</div>